DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=janus_orchestrator
DB_USER=janus
DB_PASSWORD=janus
WEB_PORT=8811
FASTAPI_PORT=8812

WORKER_ID=worker-1
WORKER_POLL_SECONDS=1.0
SCHEDULER_POLL_SECONDS=2.0
TASK_HEARTBEAT_INTERVAL_SECONDS=5
TASK_STALE_SECONDS=30
TASK_RETRY_BACKOFF_SECONDS=10
WORKFLOW_DEFAULT_TIMEOUT_SECONDS=3600

AUTO_INIT_DB=0
SEED_EXAMPLE=0
